@use "sass:math";

$grid-column: 12;
$grid-gaps: (
    "0":0,
    "1":10px,
    "2":20px,
    "3":30px, 
);

//base layout classes

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row wrap;
}

//grid gaps

@each $key, $val in $grid-gaps{
    .gap-#{$key} > * {
        padding: $val;
    }
    .gap-#{$key}{
        margin-left: -$val;
        margin-right: -$val;
    }
}

