@use './colors';

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: colors.$black;

   .navbar-links{
        ul{
            margin: 0;
            padding: 0;
            display: flex;
        }

        li{
            list-style: none; 

            a{
                text-decoration: none;
                color: colors.$blue;
                padding: 1rem;
                display: block ;
                font-size: 30px;

                &:hover{
                    color: colors.$orange;
                }

                &.active{
                    color: colors.$orange;
                }
            }
        }

   }

   .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

    .bar{
        height: 3px;
        width: 100%;
        background-color:colors.$black;
        border-radius: 10px;
    }
}


}