@use './colors';
@use './fonts';

*{
    font-family: 'balooregular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: colors.$blue;
    font-size: map-get(fonts.$font-size, large);
}

h3{
    color: colors.$blue;
    font-size: map-get(fonts.$font-size, medium);
}
span{
    color: colors.$orange;
}

.row-flip{
    flex-direction: column-reverse;
}

